body{
    color: white;
    height: 100vh;
    margin: 0;
    background-color: rgba(69, 67, 141, 0.82);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrap{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border: 1px #ffffff solid;
    background-color: rgba(73, 138, 213, 0.57);
    padding: 0 0 0 10px ;
    border-radius: 10px;
}
#btn{
    margin-bottom: 10px;
}
@media(max-width: 480px){
    .wrap {
        width: 80%;
        height: 70%;
    }
}
